@import '../../breakpoints';

h1 {
    font-size:64px !important;
    font-weight: 700;
    font-family: 'openSans', sans-serif;
}

h2 {
    font-size: 40px !important;
}

h3 {
    font-size: 28px !important;
}

h4 {
    font-size: 20px !important;
}

p {
    font-size: 20px !important;
    font-weight: 200 !important;
    line-height: 25px;
}

#content {
    min-height: 90vh;
    padding-top: 10px;
    margin-left: 60px;
    width: calc(100% - 120px);
    justify-content: left;

    @media  (min-width: 0) and (max-width:  screen(xs))  {
        margin: 0 30px;
        width: auto;
    }
}

.table-wrapper{
    justify-content: left !important;
    overflow-x: scroll;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 3px;
    padding: 16px;
    border-radius: 8px;
    height: auto;
    width: calc(100% - 40px);
}

#domain-title {
    padding-bottom: 50px;
    padding-top: 25px;

    @media  (min-width: 0) and (max-width:  screen(sm))  {
        padding-bottom: 20px;
    }

    @media  (max-width: screen('xs')){
        padding-top: 20px;
        line-height: 50px;
        font-size: 35px !important;
    }
}

#back-button {
    margin-top: 90px;
    @media  (min-width: 0) and (max-width:  screen(xs))  {
        margin-top: 75px;
    }
}


.download-btn-wrapper{
    display: flex;
    flex-direction: column;
 }
 

.downloadSection {
    margin-right: 60px;
    position: absolute;
    right: 0;
    z-index: 5;
    @media  (min-width: 0) and (max-width:  screen(sm))  {
        display: flex;
        position: unset;
        margin-bottom: 10px;
    }
}

.action-text {
    float: left;
    padding-right: 5px;
    color: #007298;
    letter-spacing: .231 !important;
    font-size: 21px !important;
    font-weight: 400 !important;
}

.action-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.circle-button {
    background-color: rgba(0, 0, 0, 0.0);
    height:25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.action-icon {
    height: 25px;
}

.mat-cell {
    padding: 20px 8px 20px 0px !important;
}

.mat-row {
    padding-left: 8px !important;
}

.mat-header-cell {
    font-weight: bold;
}

th.mat-header-cell:first-of-type {
    padding-left: 0px !important;
}

.small-screen-no-show{
    @media  (min-width: 0) and (max-width:  screen(sm))  {
        display: none;
    }
}