* {
    color: white;
}

.footer {
    margin-top: auto;
}

#container {
    height: 75px;
    background-color: #333E48;
    width: 100%;
    border-top: 4px solid #981e32;
    padding-bottom: 8px;
}

#content {
    width: 520px;
    float: right;
    margin-right: 50px;
    padding-top: 13px;
}

#logo {
    height: 30px;
    width: 148px;
    margin-top: 10px;
    float: right;
}

#bottom-text {
    float: left;
    font-weight: bold;
    font-size: 1.1rem;
    height: 45px;
    margin-top:12px;
}

@media screen and (max-width: 1125px) {
    #content {
        float: none;
        margin-left: 20px;
    }
}

@media screen and (max-width: 570px) {
    #content {
        width: 375px;
    }

    #content p {
        font-size: 14px;
    }

    #logo {
        height: 15px;
        width: 74px;
        margin-top: 18px;
    }
}

@media screen and (max-width: 450px) {
    #content {
        width: 320px;
    }

    #content p {
        font-size: 12px;
    }
}

@media screen and (max-width: 280px) {
    #content {
        width: 230px;
    }
    
    #logo {
        height: 11px;
        width: 56px;
        margin-top: 20px;
    }

    #content p {
        font-size: 8px;
    }
}